.sinup_wrapper {
  height: 100vh;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sinup_icon {
  width: 60px;
  height: 60px;
}

.sinup_title {
  font-size: 2rem;
  font-weight: 600;
}

.sinup_wrapper .card {
  width: 30%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 1.3%;
}
